* {
  margin: 0;
  padding: 0;
}

header {
  width: 1440px;
}

.navigation {
  padding: 35px 70px;
  display: flex;
  justify-content: space-between;
}

/* .navigation h2 {
  font-size: 20px;
  color: rgb(0, 0, 0);
} */

.navigation button {
  padding: 15px 10px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid rgb(24, 2, 2);
  color: black;
}

.banner {
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  height: 552px;
}

/* .banner img {
  height: 240px;
  width: 240px;
  border: 1px solid red;
} */

.banner-image {
  width: 224px;
  border: 1px solid red;
  margin: 5px auto;
}

.banner-content {
  border: 1px solid red;
  margin: 0 auto;
  text-align: center;
  width: 998px;
}

.banner-content h2 {
  font-size: 35px;
}

.banner-content p {
  margin: 24px 0;
  font-size: 15px;
}

.banner-content button {
  padding: 15px 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 15px;
}

main {
  max-width: 1140px;

  margin: 0 auto;
}

.with-background-color {
  background-color: #fafafb;
  border-radius: 10px;
}

.why-web {
  text-align: center;
  padding-top: 80px;
}
.why-web h3 {
  font-size: 32px;
}
.why-web p {
  margin: 12px 0;
}

.layer-one,
.layer-two,
.layer-three {
  margin: 58px 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layer-two {
  flex-direction: row-reverse;
}

.layer-one-content,
.layer-two-content,
.layer-three-content {
  width: 75%;
  margin-left: 25px;
}

.layer-one-content,
.layer-two-content,
.layer-three-content h3 {
  font-size: 1.5em;
}

.layer-description {
  margin: 20px 0;
  font-size: 20px;
}

.btn-learn-more {
  padding: 8px 25px;
}

.inspiration {
  text-align: center;
}

.inspiration h3 {
  font-size: 30px;
}
.inspiration p {
  margin: 15px 0;
  font-size: 20px;
  color: rgb(47, 47, 47);
}

.video {
  width: 100%;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 15px;
}

.video iframe {
  margin: 25px 0;
  border-radius: 15px;
}
